fileIcons:

	Generic:
		icon: "code"
		generic: true
		match: [
			[".rdf", "dark-red"]
			[/^configure\.ac$/, "medium-red"]
			[".4th", "medium-blue"]
			[/\.adm[lx]$/i, "dark-blue"]
			[".aepx", "medium-purple"]
			[".appxmanifest", "medium-orange"]
			[".ash", "medium-cyan"]
			[/\.asn1?$/i, "medium-cyan"]
			[".axml", "dark-blue"]
			[".befunge", "medium-orange"]
			[".bmx", "dark-blue"]
			[".brs", "dark-blue", "brightscript"]
			[".capnp", "dark-red", scope: "capnp", alias: /^(Cap[^\w\s]?n\s*Proto|capnp)$/i]
			[".ccxml", "dark-blue"]
			[".cscfg", "medium-red"]
			[".ch", "medium-red"]
			[".clixml", "dark-blue"]
			[".cocci", "medium-blue", scope: "smpl", alias: /^(SmPL|Coccinelle)$/i]
			[".ct", "dark-pink"]
			[".cw", "medium-red"]
			[".cy", "dark-green"]
			[".rdg", "dark-purple"]
			[".dita", "medium-purple"]
			[".ditamap", "dark-purple"]
			[".ditaval", "medium-green"]
			[".dotsettings", "dark-red"]
			[".dyl", "medium-blue"]
			[".dylan", "medium-blue"]
			[".eclxml", "dark-green"]
			[".fcgi", "medium-blue"]
			[".fidl", "medium-pink", "fidl"]
			[".filters", "medium-pink"]
			[".fo", "medium-red", "fasto"]
			[".forth", "medium-blue"]
			[".frt", "dark-purple"]
			[".fsproj", "dark-red"]
			[".fth", "dark-blue"]
			[".fun", "medium-orange"]
			[".fxml", "medium-maroon"]
			[".grace", "medium-purple"]
			[".grxml", "dark-orange"]
			[".intr", "dark-blue"]
			[".ivy", "dark-green"]
			[".jelly", "medium-yellow"]
			[".joy", "medium-yellow", "joy"]
			[".jsproj", "dark-yellow"]
			[".jspx", "dark-purple"]
			[".launch", "medium-blue"]
			[".lid", "medium-purple"]
			[".lp", "dark-purple"]
			[".m4", "medium-red", "m4"]
			[".mask", "medium-red"]
			[".mdpolicy", "dark-blue"]
			[".menu", "medium-blue"]
			[/\.mq[45h]$/i, "dark-blue", scope: /(^|\.)mq[45](?=\.|$)/i]
			[".mtml", "dark-blue"]
			[".muf", "medium-orange"]
			[".mumps", "medium-red"]
			[".myt", "dark-blue"]
			[".natvis", "dark-green"]
			[".odd", "light-green"]
			[".ohm", "dark-yellow", "ohm"]
			[".omgrofl", "dark-purple"]
			[".osm", "dark-purple"]
			[".pig", "medium-pink"]
			[".prg", "medium-red"]
			[".props", "medium-cyan"]
			[".psc1", "light-blue"]
			[".qhelp", "medium-purple", alias: "Semmle", uses: "XML"]
			[".resx", "medium-cyan"]
			[".rl", "medium-red"]
			[".scxml", "light-cyan"]
			[".sed", "dark-green", scope: "sed", interpreter: /^([gs]?sed|minised)$/]
			[/\.sgml?$/i, "dark-yellow"]
			[".sig", "light-maroon"]
			[".sk", "light-blue", signature: /^##Sketch 1 2/]
			[/\.sk[12]$/i, "medium-blue", alias: "Skencil", signature: /^##sK1 /]
			[".sml", "medium-red"]
			[".smt", "light-blue", scope: "smt", interpreter: /boolector|cvc4|mathsat5|opensmt|smtinterpol|smt-rat|stp|verit|yices2|z3/]
			[".smt2", "medium-cyan"]
			[".spthy", "medium-green", alias: "Tamarin", scope: /(^|\.)(spthy|tamarin)(\.|$)/i, interpreter: /^tamarin([\s_-]?prover)?$/i]
			[".srdf", "medium-blue"]
			[".st", "medium-blue"]
			[".stellaris", "medium-blue", "stellaris"]
			[".tagx", "medium-purple"]
			[".targets", "medium-red"]
			[".tera", "medium-red"]
			[".tml", "dark-green"]
			[".ui", "medium-blue"]
			[".urdf", "dark-orange"]
			[".ux", "light-orange"]
			[".vxml", "light-purple"]
			[".webidl", "medium-red"]
			[".wisp", "dark-cyan"]
			[/\.wlp(4|ppp)$/i, "medium-blue", "wlp4"]
			[".wsf", "medium-blue"]
			[".x3d", "medium-blue"]
			[".xacro", "medium-red"]
			[".xlf", "dark-cyan"]
			[".xliff", "medium-red"]
			[".xmi", "medium-green"]
			[".xproj", "dark-red"]
			[".zcml", "dark-pink"]
		]
